@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@font-face {
  font-family: fonte-formal;
  src: url(../fontes/fonte-formal.otf);
}

* {
  font-family: 'Lato', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  color: #2155CD;
}

.linksNav {
  display: inline-block;
  margin-right: 2%;
}

a,
a:visited {
  text-decoration: none;
  position: relative;
  color: #2155CD;
}

a:hover {
  font-weight: bold;
}

a:active {
  color: #0AA1DD;
}

.maindiv2 {
  background-color: #2155CD;
  color: white;
  padding-top: 4%;
  padding-left: 2%;
}

.maindiv2span {
  display: inline-block;
  margin-right: 2%;
}

img {
  border-radius: 6px;
}

h1 {
  font-size: 3.0em;
}

h1,
h2 {
  font-family: fonte-formal;
  font-weight: 500;
}

h2 {
  background-color: #2155CD;
  color: white;
}

h2,
p {
  padding-left: 2%;
  padding-right: 2%;

}

td,
table {
  border: 1px solid #0AA1DD;
  border-radius: 6px;
}

td {
  padding: 20px;
}

.space {
  padding: 2%;
}