* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    font-weight: bold;
}

header>nav {
    display: flex;
    background-color: #6F00D6;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 10%;
    padding-left: 10%;
}

.headerNavDiv1 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.headerNavDiv1 a {
    width: 20%;
    margin-right: 15%;
}

.headerNavDiv1 img {
    width: 100%;
    border-radius: 6px;
}

.headerNavDiv2 {
    width: 100%;
}

.headerNavDiv2 ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

footer {
    background-color: #6F00D6;
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 10%;
    padding-left: 10%;
    align-items: stretch;
    position: absolute;
    bottom: 0;
}

.footerDiv1 {
    width: 50%;
}

.footerDiv1 img {
    width: 20%;
    border-radius: 6px;
}

.footerDiv2 {
    width: 50%;
    display: flex;
    align-items: center;
    color: white;
}

.footerDiv2section {
    width: max-content;
}

.footerDiv2span {
    display: none;
}

.footerDiv2section:hover {
    cursor: default;
}

.footerDiv2section:hover .footerDiv2span {
    display: flex;
    flex-direction: column;
}

.footerDiv2 a {
    margin-top: 10%;
}