/* Propriedades .mainDiv1 */

.mainDiv1 {
    display: flex;
    align-items: center;
}

.mainDiv1>section:first-of-type {
    width: 30%;
}

.mainDiv1>section>img {
    border-radius: 1000px;
    width: 100%;
}


.mainDiv1>section:nth-of-type(2) {
    padding-left: 3%;
    width: 100%;
}

/* Propriedades .mainDiv2 */

.mainDiv2 section:first-of-type {
    border-radius: 12px 12px 12px 0;
    margin-top: 3%;
    line-height: 1.5em;
    text-align: justify;
    font-weight: bold;
}

.mainDiv2>span:hover section:first-of-type {
    background-color: black;
    color: white;
    cursor: pointer;
}

.mainDiv2>span section:first-of-type b {
    text-shadow: 0 0 1px black;
}

.mainDiv2>span:hover section:first-of-type b {
    text-shadow: 0 0 1px white;
}

.mainDiv2 section:nth-of-type(2) {
    content: "";
    margin-top: -1%;
    width: 5%;
    border: 30px solid;
    border-top-color: rgb(230, 230, 230);
    border-left-color: rgb(230, 230, 230);
    border-bottom-color: transparent;
    border-right-color: transparent;
    transition: 0.3s;
}

.mainDiv2>span:hover section:nth-of-type(2) {
    border-top-color: black;
    border-left-color: black;
    transition: 0.3s;
    cursor: pointer;
}

/* Propriedades .mainDiv3 */

.mainDiv3 .box h4 {
    visibility: hidden;
}

.mainDiv3 .box:hover h4 {
    visibility: visible;
    animation: fadeInUp 0.5s;
}

#spanJS {
    background-color: #FFBC0D;
    font-weight: bold;
    padding: 2%;
    padding-left: 6%;
    padding-top: 6%;
    margin: 6%;
}

.mainDiv3 .box:hover #spanJS {
    background-color: black;
    color: #FFBC0D;
}

#pExpressJS {
    margin: 2%;
    margin-top: 8%;
    margin-bottom: 16%;
}

/* Início do padrão da classe .box */

.box {
    padding: 3%;
    transition: 0.3s;
    background-color: rgb(230, 230, 230);
    border-radius: 12px;
}

/* Início do padrão das classe .containerBox5 e .containerBox3 */

.containerBox5,
.containerBox3,
.containerBox2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3%;
}

/* Início do padrão da classe .containerBox5 */

.containerBox5 .box {
    width: 17%;
    height: 150px;
    margin-bottom: 3%;
    text-align: center;
}

/* Início do padrão da classe .containerBox3 */

.containerBox3 .box {
    width: 30%;
    padding-top: 6%;
    padding-bottom: 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.containerBox3 section p,
.containerBox3 section h3 {
    margin-bottom: 10%;
}

/* Início do padrão da classe .containerBox2 */

.containerBox2 {
    flex-wrap: nowrap;
}

.containerBox2 .box {
    width: 48%;
    padding-top: 6%;
    padding-bottom: 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.containerBox2 section h3 {
    margin-bottom: 10%;
}

/* Início do padrão da classe .yellowBox */

.yellowBox:hover {
    background-color: #FFBC0D;
    color: black;
    transition: 0.3s;
    cursor: pointer;
}

.yellowBox a {
    color: black;
}

/* Início do padrão da classe .blackBox */

.blackBox:hover {
    background-color: black;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

.blackBox a {
    color: black;
}

.blackBox:hover a {
    color: white;
}

/* Media Query: Tablet */

@media screen and (max-width: 768px) {

    /* Início do padrão da classe .containerBox5 */

    .containerBox5 .box {
        width: 21%;
        height: 120px;
    }

    .box2 {
        min-width: 47%;
    }

    /* Início do padrão da classe .containerBox3 */

    .containerBox3>.box {
        width: 47%;
        margin-top: 5%;
    }
}

/* Media Query: Mobile */

@media screen and (max-width: 480px) {

    /* Início do padrão da classe .containerBox5 */

    .containerBox5 .box {
        width: 30%;
        height: 100px;
    }

    /* Início do padrão da classe .containerBox3 */

    .box2 {
        min-width: auto;
    }

    .box1 {
        min-width: 100%;
    }

    #email {
        font-size: 0.7em;
    }
}